@charset "utf-8";
/* form column */
.form-column-half {
    padding: 10px;
    width: 50%;
    margin: 0;
    box-sizing:border-box;
    float: left;
}
.edit-box-input {
	width: 150px;
	height: 20px;
}

.input_style {
	width: 140px;
	height: 20px;
	border: 1px solid #95B8E7;
}

.btnDesc{
    font-weight: bold;
    font-size: 12px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border:0px none;
}
.btnCls{
    width:45px;
	border-radius:5px;
}
.checkbox_span{
   font-weight: bold;
   margin-right:12px;
   margin-left:-2px;
}
.checkbox_input{
   vertical-align:middle;
}
